header{
    background-color: #0CC0DF;
}
footer{
    background-color: #0CC0DF;
}

.footer-columns{
    display: flex;
}
.footer-column{
    flex: 50%;
    margin: 40px;
}

.logo{
    width: 200px;
    height: 200px;
}
main{
    padding: 10px;
    background-color: silver  ;
    font-family: "Indie Flower";

}

.slider div {
    height: 400px;
    background-size: initial;
    background-position: center center;
    width: 1920px;
}

.slider1{
    background-image: url(https://klike.net/uploads/posts/2022-09/1662526350_s-45.jpg);
}

.slider2{
    background-image: url(https://klike.net/uploads/posts/2022-09/1662526261_s-5.jpg);
}

.post{
    background-color: white ;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;

}
.post img{
    margin: 20px;

}

#menu1{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;
}

#menu1 ul{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    list-style: none;
}

#menu1 > ul::after{
    display: block;
    width: 100%;
    height: 0px;
    clear: both;
    content: " ";
}

#menu1 ul li{
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
}

#menu1 ul li ul li:first-child a{
    border-top: 0px;
    
}
#menu1 ul li a{
    display: block;
    padding: 9px 25px 0px 25px;
    font-size: 14px;
    line-height: 1.3em;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    height: 36px;
    box-sizing: border-box;
    color: rgb(181, 13, 233);
}
#menu1 ul li ul{
    position: absolute;
    top: 36px;
    left: 0px;
    display: none;
    width: 200px;
    background: #38b6ff;
}
#menu1 ul li:hover ul{
    display: block;
}
#menu1 ul li ul li{
    float: none;
    width: 100px;
}
#menu1 ul li ul li a{
    display: block;
    text-transform: none;
    height: auto;
    padding: 7px 25px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #e9830e;
    color: rgb(21, 241, 175);
    
}
h3{
    font-family: "Indie Flower";
    color: black;
}

p{
    font-family: "Tilt Neon";
    color: black;
}

